.main {
  text-align: center;
}

body {
  height: 100vh;
  width: 100vw;
}

img.topic {
  width: 400px;
  max-width: 100%;
}

.imageBox {
  padding: 5%;
}

.widthRestrict {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layer {
  top: 100vh;
  position: fixed;
  background: gray;
  opacity: 0.7;
  height: 100vh;
  width: 100vw;
  margin: 0px auto;
}

@keyframes example {
  from {
    margin-top: 20%
  }
  to {
    margin-top: 30%
  }
}

.layer>img {
  margin: 0px auto;
  display: block;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.active {
  top: 0vh;
}